# Modules
/node_modules
/client/node_modules
/server/node_modules

# IDE
.vscode

# Production
/build
/client/build

# Env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Credentials
/server/database/db-configuration.json
/client/src/data/auth-api.js